<!DOCTYPE html>
<html lang="es" encoding="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Nuevo Gasto - TecnoSoft</title>
        <!-- Incluir los recursos de Bootstrap -->
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        <style>
            /* Agregar estilo personalizado */
            body {
                padding-top: 70px;
            }
            .card-footer {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            .btn-toolbar .btn {
                margin-right: 10px;
            }
            .btn-toolbar .btn:last-child {
                margin-right: 0;
            }
        </style>
    </head>
    <body>
        <!-- Barra de navegación -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Tecno Soft</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/usuarios}">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/ventas}">Ventas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/compras}">Compras</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/productos}">productos</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}">Cerrar sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Contenido -->
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Crear Gasto</h3>
                        </div>
                        <div class="card-body">
                            <!-- Añadir un formulario con clase form -->
                            <form th:action="@{/contable/__${usuarioID}__/crear}" th:object="${gasto}" method="post" class="form">
                                <!-- Añadir un grupo de entrada con clase form-group para cada campo -->
                                <div class="form-group">
                                    <label for="productoNombre">Nombre del gasto:</label>
                                    <input type="text" id="nombre" name="nombre" th:field="*{nombreGasto}" class="form-control" required minlength="3" maxlength="50" placeholder="Digite el nombre del gasto" />
                                </div>
                                <div class="form-group">
                                    <label for="tipoGasto">Tipo de Gasto:</label>
                                    <select id="tipoGasto" name="tipoGasto" th:field="*{tipoGasto}" class="form-control" required> 
                                        <option value="">Seleccione el tipo</option>
                                        <option th:value="Uno">Uno</option>
                                        <option th:value="Dos">Dos</option>
                                        <option th:value="Tres">Tres</option>
                                    </select>
                                    <div th:if="${#fields.hasErrors('tipoGasto')}" th:errors="*{tipoGasto}" class="text-danger"></div>
                                </div>
                                <div class="form-group">
                                    <label for="valorGasto" class="col-form-label">Valor:</label>
                                    <div class="col-sm-10">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">$</span>
                                            <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" required th:field="*{valorGasto}">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fechaGasto">Fecha del Gasto:</label>
                                    <input type="date" id="nombre" name="nombre" th:field="*{fechaGasto}" class="form-control" required placeholder="Seleccione la Fecha" />
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Descripción:</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required th:field="*{descripcionGasto}"></textarea>
                                </div>

                                <!-- Añadir un botón de tipo submit con clase btn y btn-primary para enviar el formulario -->
                                <button type="submit" class="btn btn-primary">Crear</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

