<!DOCTYPE html>
<html lang="es" encoding="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Lista de usuarios - TecnoSoft</title>
        <!-- Incluir los recursos de Bootstrap -->
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        <style>
            /* Agregar estilo personalizado */
            body {
                padding-top: 70px;
            }
            .card-footer {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            .btn-toolbar .btn {
                margin-right: 10px;
            }
            .btn-toolbar .btn:last-child {
                margin-right: 0;
            }
        </style>
    </head>
    <body>
        <!-- Barra de navegación -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Tecno Soft</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/usuarios}">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/ventas}">Ventas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/compras}">Compras</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}">Cerrar sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container mt-4">
            <div class="card">
                <h5 class="card-header">Lista de usuarios</h5>
                <div class="card-body">
                    <!-- Botones -->
                    <div class="btn-toolbar mb-3" role="toolbar">
                        <div class="btn-group mr-2" role="group">
                            <a th:href="@{/usuarios/nuevo}" class="btn btn-success">Crear nuevo usuario</a>
                        </div>
                    </div>
                    <!-- Lista de usuarios -->
                    <div class="row">
                        <div th:each="usuario : ${usuarios}" th:object="${usuario}" class="col-md-4">
                            <div class="card mb-3">
                                <h5 class="card-header" th:text="*{nombre}"></h5>
                                <div class="card-body">
                                    <p class="card-text"><strong>Rol:</strong> <span th:text="*{rolID}"></span></p>
                                    <p class="card-text"><strong>ID:</strong> <span th:text="*{usuarioID}"></span></p>
                                    <p class="card-text"><strong>Correo:</strong> <span th:text="*{correo}"></span></p>
                                    <p class="card-text"><strong>Contraseña:</strong> <span th:text="*{contrasenia}"></span></p>
                                    <p class="card-text"><strong>Fecha de registro:</strong> <span text = "18/04/23">18/04/23</span></p>
                                    <div class="card-footer">
                                        <div class="btn-toolbar" role="toolbar">
                                            <div class="btn-group mr-2" role="group">
                                                <a  th:href="@{/usuarios/editar/{usuarioID}(usuarioID=*{usuarioID})}" class="btn btn-primary">Editar</a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a th:href="@{/usuarios/eliminar/{usuarioID}(usuarioID=*{usuarioID})}" class="btn btn-danger" 
                                                   onclick="return confirm('¿Está seguro de que desea eliminar al usuario?');">Eliminar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>





<!--
<!DOCTYPE html>
<html lang="es" encoding="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Lista de usuarios</title>
    </head>
    <body>
        <h1>Lista de usuarios</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>contrasenia</th>
                    <th>Rol</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.nombre}"></td>
                    <td th:text="${usuario.correo}"></td>
                    <td th:text="${usuario.contrasenia}"></td>
                    <td th:text="${usuario.rolID}"></td>
                    <td th:text="${usuario.usuarioID}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
 comment -->